name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x64

          - os: macos-latest
            platform: darwin
            arch: x64

          - os: windows-latest
            platform: win32
            arch: x64

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Pear
        run: npx -y pear

      - name: Add pear to PATH
        shell: bash
        run: |
          case "$RUNNER_OS" in
            Linux)   echo "$HOME/.config/pear/bin" >> "$GITHUB_PATH" ;;
            macOS)   echo "$HOME/Library/Application Support/pear/bin" >> "$GITHUB_PATH" ;;
            Windows) echo "$USERPROFILE\\AppData\\Roaming\\pear\\bin" >> "$GITHUB_PATH" ;;
          esac

      - name: Install dependencies
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test
